

django==4.2
django-dotenv

channels==3.0.5
channels-redis==3.4.1

django-environ
django-htmx
django-storages
django-phonenumber-field
django-phonenumbers
django-recaptcha
django-allauth
django-single-session

pillow
uuid
shortuuid
chargily-pay
pathlib

gunicorn
boto3
pint
dj-database-url
psycopg2
psycopg2-binary