
{% extends "base/base.html" %}
{% load i18n %}
{% load static %}

{% block title %} {% translate "Account Settings" %} {% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static '' %}">
{% endblock head %}

{% block content %}
    <main>
        <section class="main-section">
            <form action="{% url 'settings:account' %}" method="post">

                <label for="username-display"> Username: </label>
                <input type="text" id="username-display" value="{{object.member.username}}" disabled>

                <label for="email-display"> Email: </label>
                <input type="text" id="email-display" value="{{object.member.email}}" disabled>

                <label for="{{form.phone.id_for_label}}"> Phone: </label>
                {{form.phone}}

                <label for="date-joined-display"> Date Joined: </label>
                <input type="text" id="date-joined-display" value="{{object.created_at.date}}" disabled>

                <button type="submit"> {% translate "Save" %} </button>

            </form>
        </section>
    </main>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
