
{% extends "base/base.html" %}
{% load i18n %}
{% load static %}

{% block title %} {% translate "Settings" %} {% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static '' %}">
{% endblock head %}

{% block content %}
    <main>
        <section class="main-section">
            <form action="{% url 'settings:theme' %}" method="post">

                {{form.theme}}
                <button type="submit"> {% translate "Save" %} </button>
            </form>

        </section>
    </main>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
